<div class="container mt-4">
  <h2 class="text-center">Danışman Detay</h2>
  <div *ngIf="danisman">
    <div class="text-center">
      <img [src]="danisman.photo" alt="{{ danisman.name }}" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
    </div>
    <p><strong>Danışman Adı:</strong> {{ danisman.name }}</p>
    <p><strong>Emlak Ofisi:</strong> {{ danisman.emlakOfisi }}</p>
    <p><strong>Role:</strong> {{ danisman.role }}</p>
  </div>
  <div *ngIf="!danisman">
    <p>Danışman bulunamadı.</p>
  </div>
</div>
