<div class="cards-container">
  <div class="card" *ngFor="let card of cards" (click)="onCardClick(card)">
    <div class="image-container">
      <img [src]="card.imageUrl" alt="{{ card.name }}" />
    </div>
    <div class="details-container">
      <h3 class="emlak-name">{{ card.name }}</h3>
      <div class="detail-item">
        <div class="icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <p class="address">{{ card.address }}</p>
      </div>
      <div class="detail-item">
        <div class="icon">
          <i class="fas fa-phone-alt"></i>
        </div>
        <p class="tel">{{ card.tel }}</p>
      </div>
    </div>
  </div>
</div>
