<div class="hero-belt">
  <div class="name-overlay">
    <h1 class="name">{{ danismanName }}</h1>
    <p class="subtitle">{{ danismanSubtitle }} &#64; {{emlakOfisi}}</p>
    <div class="info" style="display: flex; flex-direction: row; gap:1rem; justify-content: center;">

    <div class="experience-card">{{ danismanExperience }} Year</div>
    <div class="experience-card"ı style="background-color: turquoise;">Satılık Portföyler 5</div>
    <div class="experience-card" style="background-color: #0F1526;">Kiralık Portföyler 0</div>

    </div>
  </div>
</div>
