.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.card-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa; /* Optional background color for empty spaces */
}

.card-img-top {
  height: auto; /* Adjust height automatically based on the image aspect ratio */
  max-height: 300px; /* Optional: Set a max height for consistency */
  object-fit: contain; /* Show the entire image without cropping */
  width: 100%; /* Ensure the image takes up the full width of the card */
}
