<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let danisman of danismanlar">
      <div class="card mb-4 card-long">
        <div class="d-flex justify-content-center mt-3">
          <app-danismanlarimiz-image-belt
            [photo]="danisman.photo"
            [circleSize]="circleSize"
          ></app-danismanlarimiz-image-belt>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ danisman.name }}</h5>
          <p class="card-text">
            <strong>Emlak Ofisi:</strong> {{ danisman.emlakOfisi }}
          </p>
        </div>
        <div class="card-footer text-center">
          <p class="card-text mb-0">
            <strong>Role:</strong> {{ danisman.role }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
