<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Adres</h5>
        <p>
          Cumhuriyet Mah. Atatürk Cad. No:171/A Çanakkale/Kepez
        </p>
      </div>
      <div class="col-md-4">
        <h5>Çalışma saatlerimiz</h5>
        
        Pazartesi-Cumartesi, 9:00 - 19:00
        <!-- <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">Services</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
          <li><a href="#" class="text-white">FAQs</a></li>
        </ul> -->
      </div>
      <div class="col-md-4">
        <h5>Bize ulaşın</h5>
        <p>
          
        Email: <a href="mailto:sahanklinik17@gmail.com" class="text-decoration-none">sahanklinik17&#64;gmail.com</a>
<br />
        <a href="tel:+905402861915" class="text-decoration-none"
          >0 540 286 19 15</a
        >
        </p>
        <div>
          <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <p class="mb-0">&copy; Özel Şahan Ağız ve Diş Sağlığı Polikliniği. Tüm Hakları Saklıdır.</p>
    </div>
  </div>
</footer>
