<footer class="text-white py-4 ">
  <div class="container">
    <div class="row">
      <!-- Office Address -->
      <div class="col-md-4">
        <h5>Adres</h5>
        <p>
          Barbaros Mah. Emlak Caddesi No:45/A Lapseki
        </p>
      </div>

      <!-- Working Hours -->
      <div class="col-md-4">
        <h5>Çalışma Saatlerimiz</h5>
        <p>
          Pazartesi-Cuma: 9:00 - 18:00<br />
          Cumartesi: 10:00 - 15:00
        </p>
      </div>

      <!-- Contact Information -->
      <div class="col-md-4">
        <h5>Bize Ulaşın</h5>
        <p>
          Email: <a href="mailto:info@emlakco.com" class="text-decoration-none">info&#64;emlakco.com</a><br />
          Telefon: <a href="tel:+902122345678" class="text-decoration-none">+90 212 234 56 78</a>
        </p>
        <!-- Social Media Links -->
        <div>
          <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-youtube"></i></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Copyright Notice -->
    <div class="text-center mt-4">
      <p class="mb-0">&copy; 2025 EmlakCo. Tüm Hakları Saklıdır.</p>
    </div>
  </div>
</footer>
