<footer class="text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Adres</h5>
        <p>
          Cumhuriyet Mah. Atatürk Cad. No:171/A Çanakkale/Kepez
        </p>
      </div>
      <div class="col-md-4">
        <h5>Çalışma saatlerimiz</h5>
        Pazartesi-Cumartesi, 9:00 - 19:00
      </div>
      <div class="col-md-4">
        <h5>Bize ulaşın</h5>
        <p>
          Email: <a href="mailto:mock@gmail.com" class="text-decoration-none">mock&#64;gmail.com</a>
          <br />
          <a href="tel:+905550000000" class="text-decoration-none">0 555 000 00 00</a>
        </p>
        <div>
          <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-youtube"></i></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <p class="mb-0">&copy; Özel Şahan Ağız ve Diş Sağlığı Polikliniği. Tüm Hakları Saklıdır.</p>
    </div>
  </div>
</footer>
